{% extends 'base.html' %} {% block content %}

<div class="row">
    <div class="col">
        <h1 class="display-4">Checkout</h1>
    </div>
    <div id="result"></div>
    <div id="dropin-container"></div>
</div>
<div class="row m-1">
    <button id="submit-button" class="btn btn-primary btn-lg btn-block">Purchase</button>
</div>
<div class="row mx-3 my-2">
    <a href="/" class="btn btn-secondary ">&lt;&lt;back</a>
</div>




<script src="https://js.braintreegateway.com/web/dropin/1.38.1/js/dropin.min.js"></script>
<script>
    braintree.dropin.create({
        authorization: 'sandbox_fw57nfch_626mnsjyhjfprsrk',
        container: '#dropin-container',
        paypal: {
            flow: 'checkout',
            amount: '10.00',
            currency: 'USD'
        }
    }, function (createErr, dropinUi) {
        $("#submit-button").on("click", function () {
            // console.log(dropinUi)
            dropinUi.requestPaymentMethod(function (requestErr, payload) {
                if (requestErr) alert(requestErr)
                else {
                    
                    $.ajax({
                        type: "POST",
                        url: '/payment',
                        data: JSON.stringify(payload),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        // complete: function () {
                        //     dropinUi.teardown();
                        //     $('#submit-button').remove();
                        //     $("#dropin-container").html(
                        //         `<div class="alert alert-success" role="alert">Transaction submitted, please wait</div>`
                        //     )
                        // },
                        success: function(result) {
                            dropinUi.teardown();
                            $('#submit-button').remove();
                            $('#result').html(
                                `<div class="alert alert-success" role="alert">Transaction submitted, your transaction ID ${result["transactionID"]}</div>`
                            );
                        },
                        error: function(result, status, error){
                            $('#submit-button').remove();
                            $('#result').html(
                                `<div class="alert alert-danger" role="alert">Transaction submitted, your transaction ID ${result["transactionID"]}</div>`
                            );
                        }
                    })
                    
                }
            })
        })
    })
</script>

{% endblock %}