{% extends 'base.html' %} {% block content %}

<div class="jumbotron mt-10">
        <h1 class="display-5">PayPal Payment integration</h1>
        <p class="lead">Example of integration of braintree drop-in UI and Refunds, using Braintree JS v3 SDK and python/flask backend:</p>
        <div>
            <a class="btn btn-primary btn-lg mx-1" href="/checkout" role="button">Checkout</a>
            <a class="btn btn-primary btn-lg mx-1" href="/refund" role="button">Refund</a>
        </div>
</div>

{% endblock %}